In [1]:
import requests
import os
from methods import twitch as tw
from methods import dataprocessing as dp
import pandas as pd
import datetime as dt

%load_ext autoreload
%autoreload 2

In [112]:
time, viewers, country_viewers = tw.loop_through_games()

In [113]:
viewers

{'League of Legends': 204551,
 'Grand Theft Auto V': 135485,
 'VALORANT': 122770,
 'Rocket League': 101341}

In [165]:
df = dp.to_dataframe(viewers, time, by_country = False) 
df_country = dp.to_dataframe(country_viewers, time, by_country = True)

In [166]:
df

                    2023-07-06 19:00:00
League of Legends                204551
Grand Theft Auto V               135485
VALORANT                         122770
Rocket League                    101341

In [167]:
df_country

                       2023-07-06 19:00:00
League of Legends  en                33185
                   sp                12661
                   pt                20923
                   de                25977
                   ru                 3122
                   fr                52233
                   ko                23945
                   ja                 1520
                   ch                 5464
                   it                 2518
                   ot                23003
Grand Theft Auto V en                33038
                   sp                 4389
                   pt                14508
                   de                20194
                   ru                11445
                   fr                 7838
                   ko                   51
                   ja                 2968
                   ch                   82
                   it                 1966
                   ot                39006
VALORANT           en                34380
                   sp                 9987
                   pt                13660
                   de                10837
                   ru                 7736
                   fr                11071
                   ko                 4673
                   ja                15007
                   ch                 3969
                   it                  773
                   ot                10677
Rocket League      en                77587
                   sp                 1550
                   pt                 2378
                   de                  836
                   ru                  212
                   fr                16686
                   ko                    0
                   ja                   94
                   ch                    0
                   it                  127
                   ot                 1871